---
---

@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $navbar-height;
  margin-bottom: $footer-height;
  font-family: "Overpass", regular;
  font-size: 16px;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Overpass-Bold", sans-serif;
    font-weight: 600;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

.navbar {
  background-color: $navbar-background-color;
  //color: $navbar-text-color;
  min-height: $navbar-height;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-nav {
    .nav-item {
      margin-right: 1.5em;
      .nav-link {
        color: $navbar-text-color;
        font-weight: 400;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    img {
      height: $navbar-height;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: 2rem;

  font-size: 2rem;
  text-align: center;

  background-color: $navbar-background-color;

  a {
    color: rgba(255,255,255,.5);
  }

  a:hover {
    color: rgba(255,255,255,.75);
  }
}

.full-width-image {
  text-align: center;
  background-color: #F0F6FA;
  img {
    width: 100%;
    max-width: 100rem;
  }
}

.btn {
  min-width: 12rem;
  line-height: 1.25;
  font-size: 1.25rem;
  padding: .9rem .7rem .7rem .7rem;

  &:hover{
    color: $button-color-default;
    background-color: white;
    border-color: $button-color-default;
  }
  background-color: $button-color-default;
  border-color: $button-color-default;
  color: white;
  border-radius: 0.1rem;
}

.btn.btn-primary {
  &:hover{
    color: $button-color-default;
    background-color: white;
    border-color: $button-color-default;
  }
  background-color: $button-color-primary;
  border-color: $button-color-primary;
  color: white;
}


.page-title {
  //font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}